body {
	font-family: 'Open Sans', sans-serif;

	background-color: #f5f9fc;
	padding-top: 100px;
	
	padding: 50px;

	main {
		max-width: 1000px;
		margin: 0 auto;
	}

	h1 {
		font-weight: 300;
	}

	.results, .hiden-results {
		color: #7a92a5;
		font-size: 12px;
		margin: 12px 0px 12px 5px;
		display: inline-block
	}

	.hiden-results {
		font-style: italic;
	}

	header {
		width: 100%;
		flex-shrink: 0;
		border-radius: 6px;
		background-color: #fff;
		box-shadow: 0 2px 6px 1px #e1e5e8;
		margin-bottom: 14px;
		border: 1px solid #fff;
		padding: 10px 20px;
		position: relative;

		input {
			width: 90%;
			text-overflow: ellipsis;
			display: inline-block;
			color: #20455e;
			font-size: 14px;
			outline: 0;
			transition: border .1s ease;
			resize: none;
			border: 1px solid #b6c1cd;
			border: none;

			&::placeholder  {
				color: #b6c1cd;
			}
		}
	}

	a {
		color: #3899ec;
		cursor: pointer;
		font-weight: 500;
		font-size: 12px;
	}

	button {
		background: none;
		border: none;
		padding: 0;
		color: #069;
		cursor: pointer;
	}

	p {
		margin: 0;
	}

	ul, li {
		margin: 0;
		padding: 0;
	  }

	.tickets {

		margin: 0;
		padding: 0;

		.ticket {
			width: 100%;
			flex-shrink: 0;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0 2px 6px 1px #e1e5e8;
			margin-bottom: 14px;
			display: flex;
			flex-direction: column;
			border: 1px solid #fff;
			padding: 10px 20px;
			transition: box-shadow .2s ease-in-out;
			position: relative;

			&:hover {
				box-shadow: 0 2px 6px 1px #d3d7da;
			}

			.hide-btn {
				text-align: right;
				visibility: hidden;
			}

			&:hover button.hide-btn {
				visibility: visible;
			}

			.title {
				margin: 15px 0;
				font-size: 16px;
				font-weight: 400;
				font-style: normal;
				color: #20455e;
			}

			.content {
				color: #577083;
				word-wrap: break-word;
				white-space: pre-wrap;
			}

			.content button {
				display: block;
				margin-top: 0.5rem;
				font-size: 14px;
			}
			
			footer {

				display: flex;
				justify-content: space-between;
				
				.meta-data {
					color: #7a92a5;
					font-size: 12px;
					margin: 10px 0;
					flex-shrink: 0;
				}

				.labels li {
					padding: 5px 15px;
					margin: 0px 3px;
					background-color: #DAEFFE;
					color: #21445E;
					border: 1px solid #C1E3FE;
					border-radius: 5px;
					list-style: none;
					display: inline-block;
				}
			}

			
		}
	}

	footer {
		text-align: center;
	}

	.more-tickets {
		font-size: 20px;
		color: #21445E;
	}

	.dropdown-wrapper {
		position: relative;
		display: inline-block;
		width: 10%;
		font-size: 12px;
	}
	.dropdown-header {
		border: 1px solid #b6c1cd;
		border-radius: 4px;
		color: #b6c1cd;
		position: relative;
		background-color: #fff;
	}
	
	.dropdown-list {
		z-index: 1;
		width: 100%;
		position: absolute;
		border: 1px solid #dfdfdf;
		border-top: none;
		background-color: #fff;
		max-height: 215px;
		overflow-y: scroll;
	}
	.dropdown-list-item, .dropdown-list-item-selected {
		padding: 8px 10px;
		display: block;
		text-overflow: ellipsis;
	}

	.dropdown-list-item-selected {
		background-color: #577083;
	}

	.dropdown-list-item:hover {
		background-color: #DAEFFE;
	}
}
